.cart{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.items{
    display:flex;
    flex-direction: column;
}
.items h3{
    margin-left:5px;
    font-family: 'Roboto',sans-serif;
    line-height: 2;
    font-weight: normal;
}
.summary-container{
    padding:40px;
    border-radius: 2rem;
    border: 1px solid #bbbbbb;
    width: 20%;
    height: fit-content;
    margin-bottom: 0;
}

@media screen and (max-width:40rem) {
    .cart{
        display: flex;
        flex-direction: column;
        margin-bottom:0;
    }
}
