.cart-container{
    display:flex;
    align-items: center;
    margin-bottom:2rem;
    flex-wrap: wrap;
    line-height: normal;
}
.cart-container img{
    object-fit: cover;
    height:8.7rem;
    border-radius: 18px;
    margin-right: 2rem;
}
.details{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    width: 25%;
    flex-wrap: wrap;
}
.btn{
    height: fit-content;
    margin:0 2rem 0 0;
}
p{
    font-size: small;
}
h4{
    font-size: medium;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
}
.remove{
    cursor:pointer;
    padding:3px;
}
.remove:hover{
    background-color: #dddddd;
    border-radius: 5px;
}
.cost{
    font-size: large;
    font-weight:500;
    margin-right: 2rem;
}