@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400&display=swap');

*{
    font-family: 'Roboto',sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}
.container{
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: white;
    margin:1.7rem;
    padding: 0.8rem;
    padding-bottom:2px;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 1px 1px 10px #d5d5d5;
}
.container:hover{
    transform: scale(1.04);
    transition: 0.1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e5e9ec;
    transition-timing-function: ease-in;
}

.title-container{
    display: flex;
    padding:0 0.1rem 0 0.2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    height: 10%;
}
.price-category{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.2rem;
    height: 50%;
}
.brand{
    font-family: "Roboto",sans-serif;
    margin-right: 0.7rem;
}
.name{
    font-family:"Roboto",sans-serif;
    font-size: small;
    margin-bottom:4px;
    color:#5e5e5e;
}
.category{
    background-color:#5e5e5e;
    border-radius: 0.3rem;
    padding:0.3rem 1rem 0.3rem 1rem;
    color:white;
    font-size: small;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}
.price-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container img{
    height:10rem;
    border-radius: 0.8rem;
    object-fit: cover;
    margin-bottom: 0.6rem;
}
.price{
    font-size:x-large;
    font-weight: 700;
    margin-left:1px;
}
.price-title{
    font-size: small;
    margin-left:3px;
    color:#858484;
}
button{
    background-color: #F4D160;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor:pointer;
    color:#444444;
    font-weight: bold;
}
.add-cart{
    display: flex;
    align-items: center;
}
p,h2,h4{
    margin:0;
}
.brand-stock{
    display: flex;
    align-items: center;
}
.brand-stock p{
    border-radius: 1rem;
    color:white;
    padding:0 0.5rem 0 0.5rem;
    font-size: small;
    font-weight: bold;
}

